html {
    text-align: center;
}

table,
th,
td {
    vertical-align: middle;
    text-align: center;
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid black;
    margin: auto;
}

.board tr td {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: lightgray;
    font-weight: bolder;
    font-size: small;
}

.board tr td.checked {
    cursor: initial;
    background-color: initial;
}

.board tr td.revealed.mined {
    cursor: initial;
    background-color: initial;
}

.board tr td.checked.mined {
    background-color: red;
}
