html {
  text-align: center;
  font-family: Lato, sans-serif;
}

.container {
  margin: 10px;
}

.parameters {
  margin: 10px;
}

.summary {
  margin: 10px;
}

.title {
  font-weight: bold;
  text-decoration: underline;
}

table,
th,
td {
  vertical-align: middle;
  text-align: center;
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid black;
  margin: auto;
}

.board tr td {
  width: 18px;
  height: 18px;
  cursor: pointer;
  background-color: lightgray;
  font-weight: bolder;
  font-size: 10px;
  vertical-align: middle;
}

.board tr td.checked {
  cursor: initial;
  background-color: initial;
}

.board tr td.revealed {
  cursor: initial;
  background-color: initial;
}

input {
  max-width: 50px;
}

.levels {
  font-size: 12px;
}

#btnNewGame {
  font-size: 26px;
  width: 100%;
  height: 100%;
}